Practical Task 2

Open and run the example file for this task in Jupyter Notebook before attempting
this task. Follow these steps:

● Open the Report.ipynb in this folder.

● Create a DataFrame that contains the data in balance.txt.

● Write the code needed to produce a report that provides the following
information:

○ Compare the average income based on ethnicity.

○ On average, do married or single people have a higher balance?

○ What is the highest income in our dataset?

○ What is the lowest income in our dataset?

○ How many cards do we have recorded in our dataset? (Hint: use
sum())

○ How many females do we have information for vs how many males?
(Hint: use count().

In [1]:
# Import pandas
import pandas as pd

In [4]:
# Create a DataFrame with balance.txt
df = pd.read_csv("balance.txt", delim_whitespace=True)

/var/folders/gr/ck4cywb16blgv165gn0t34p00000gn/T/ipykernel_2739/1531459135.py:2: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv("balance.txt", delim_whitespace=True)

In [5]:
# Check the dataframe has loaded correctly
df

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
395,8.764984,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian
396,9.943838,13.364,3838,296,5,65,17,Male,No,No,African American
397,14.882078,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian
398,12.001071,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian
399,10.159598,18.701,5524,415,5,64,7,Female,No,No,Asian

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.

In [29]:
av_income_eth = df[["Income", "Ethnicity"]].groupby(["Ethnicity"]).mean()
av_income_eth

                     Income
Ethnicity
African American  47.682101
Asian             44.187833
Caucasian         44.521945

In [59]:
print(f"The average income based on ethnicity is as follows, with incomes in the African American group slightly higher than the Asian or Caucasion groups:\n\n{av_income_eth.round(2)}")

The average income based on ethnicity is as follows, with incomes in the African American group slightly higher than the Asian or Caucasion groups:

                  Income
Ethnicity
African American   47.68
Asian              44.19
Caucasian          44.52


* On average, do married or single people have a higher balance?

In [35]:
bal_mar = df[["Balance", "Married"]].groupby(["Married"]).mean()
bal_mar

           Balance
Married
No       13.493509
Yes      13.388473

In [56]:
print(f"On average sigle people have a very slightly higher balance of {bal_mar.iloc[0,0].round(2)} compared with married people with a balance of {bal_mar.iloc[1,0].round(2)}.")

On average sigle people have a very slightly higher balance of 13.49 compared with married people with a balance of 13.39.


* What is the highest income in our dataset?

In [61]:
income_max = df["Income"].max()
income_max

186.634

In [64]:
print(f"The highest income in the dataset is {income_max.round(2)}.")

The highest income in the dataset is 186.63.


* What is the lowest income in our dataset?

In [65]:
income_min = df["Income"].min()
income_min

10.354

In [66]:
print(f"The lowest income in the dataset is {income_min.round(2)}.")

The lowest income in the dataset is 10.35.


* How many cards do we have recorded in our dataset? (Hint: use `sum()`)

In [88]:
num_cards = df["Cards"].sum()
num_cards

1183

In [89]:
print(f"The total number of cards in the dataset is {num_cards}.")

The total number of cards in the dataset is 1183.

* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [87]:
count_female = df["Gender"][df["Gender"] == "Female"].count()
count_female

207

In [90]:
count_male = df["Gender"][df["Gender"] == "Male"].count()
count_male

193

In [91]:
print(f"The total number of femails there is information for in the dataset is {count_female} and the total number of males there is information for in the dataset is {count_male}.")

The total number of femails there is information for in the dataset is 207 and the total number of males there is information for in the dataset is 193.